* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif; 
}
body {
  background-color: white; 
  padding: 40px 20px;
}
.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 15px 50px;
  background-color: #ffffffba;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  top: 0;
  z-index: 1000;
  width: 100vw;
  left: 0;
  margin: 0;
}
.header img {
  height: 60px;
  margin-left: 100px;
}
.links {
  display: flex;
  gap: 35px; 
  margin-right: 105px;
}
.links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 3px;
}
.header .links a:hover{
  color:rgba(0, 0, 255, 0.603);
  font-weight: bold;
}

.faq-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.first-faq {
  background-color: #e8f2fe;   
  color:#0659B8;           
  text-align: center;
  font-size: 2.8rem;           
  font-weight: 600;
  letter-spacing: 1px;
  font-family: 'PT Sans', sans-serif;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 50px 20px;       
  line-height: 1.4;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
.faq-heading {
  margin: 60px auto 0;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  color: #0659B8; 
  margin-bottom: 50px; 
  font-size: 3em;
  font-size: 3.25rem;
  font-weight: 600;
  line-height: 1.1;
}
.faq-box {
  margin-bottom: 12px;
}
.faq-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 15px 20px;
  background-color: #ffffff;
  border: 1px solid #e2e8f0; 
  border-radius: 30px; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}
.faq-row:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.faq-question {
  font-size: 1.1em;
  font-weight: 400;
  color: #065BBF; 
  margin: 0;
  flex-grow: 1;
  padding-right: 15px;
}
.faq-icon {
  font-size: 1.6em;
  font-weight: 700;
  color: white; 
  background-color: #0659B8;
  line-height: 1;
  width: 40px;
  height: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, color 0.3s ease; 
  border-radius: 50%;
}
.faq-box.open{
  width: 813px;
  margin: 30px auto 60px;
}
.faq-box-open .faq-row {
  background-color: #eaf3ff; 
  border-color: #0b4b88;
  border-radius: 30px; 
  box-shadow: 0 2px 5px rgba(49, 130, 206, 0.2);
}
.faq-box .faq-row {
  border-color: #A2CCFB;
  border-radius: 30px; 
  color: #111111;
}
.faq-box-open .faq-question {
  color: #3182ce; 
  border-color: #A4CDFB;
}
.faq-box-open .faq-icon {
  color: white;
  background-color: #0659B8; 
}
.faq-answer {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 20px; 
  background-color: transparent; 
  transition: max-height 0.5s ease-in-out, opacity 0.4s ease;
  margin-top: 5px; 
}
.faq-box-open .faq-answer {
  max-height: 500px;
  opacity: 1;
  padding: 20px 25px 20px 25px; 
}

.faq-box .faq-row .faq-question{
  color: #111111; 
  font-weight: 700;
}
.faq-answer p {
  color:#111111;
  font-size: 1em;
  line-height: 1.6;
  margin: 0 0 15px 0;
  font-weight: 700; 
}
.faq-answer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
.faq-answer li {
  color: #111111;
  line-height: 1.6;
  margin-bottom: 5px;
  padding-left: 15px; 
  position: relative;
  font-size: 0.95em;
  font-weight: 400; 
}
.faq-answer li::before {
  content: '-'; 
  position: absolute;
  left: 0;
  color: #4a5568; 
  font-weight: 700;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}
.tell-us-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  background-color: #ffffff;
  margin-left: 80px;
}
.tell-us-more .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  gap: 80px;
}
.image-section img {
  width: 550px;
  height: auto;
  object-fit: contain;
   margin-bottom: -5px;
}
.content-section {
  flex: 1;
  max-width: 100%;
  margin-left: 50px;
  gap: 5px;
}
.content-section h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #0056d2;
  margin-bottom: 70px;
  line-height: 1.2;
}
.cont {
  margin-bottom: 80px; 
}
.profile {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 6px solid #0056d2;
  flex-shrink: 0;
}
.profile h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #0056d2;
  margin: 5px 0 10px 0;
  margin-top: 20px;
}
.profile p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.8;
  margin-top: 49px;
  margin-left: -73px;
  font-style: italic;
}
.credit {
  font-size: 1rem;
  color: #777;
  margin-top: 25px;
  margin-bottom: 20px;
}
.credit span {
  color: #0056d2;
  font-weight: 500;
}
.btn {
  display: inline-block;
  background-color: #0056d2;
  color: #fff;
  padding: 14px 38px;
  border-radius: 50px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-decoration: none;
  margin-top: 10px;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}
.btn:hover {
  background-color: #0040a8;
  transform: translateY(-2px);

}
.footer {
  background-color: #0052b0;
  color: #ffffff;
  padding: 60px 80px 30px;
  font-family: 'Poppins', sans-serif;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 40px;
  margin-left: 90px;
  padding: 30px 30px 25px 0;
}
.footer-left {
  flex: 1.5;
  min-width: 260px;
}
.footer-logo {
  width: 80%;
  height: 80%;
  margin-bottom: 15px;
}
.mission-text {
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  line-height: 1.6;
  margin-top: 6px;
}
.image-credit {
  font-size: 0.75rem;
  opacity: 0.7;
  margin: 20px auto 0 0;
}
.footer-center {
  flex: 1;
  min-width: 200px;
  margin-left: 49px;
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.footer-center h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ffffff33;
  display: inline-block;
}
.footer-center a {
  display: block;
  text-decoration: none;
  color: #ffffffcc;
  font-size: 18px;
  margin-bottom: 18px;
  transition: color 0.3s;
  margin-left: 80px;
}
.footer-center a:hover {
  color: #ffffff;
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px ;
  margin-top: 5px;
  margin-left: 32px;
}
.social-icons a {
  color: #ffffffcc;
  font-size: 1.3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 3px;
  margin: 0;
  transition: color 0.3s;
}
.social-icons a i{
  margin: 0;
  padding: 0;
  vertical-align: middle;
  margin-left: 28px;
  gap: 3px;
}
.social-icons a:hover {
  color: #ffffff;
}
.footer-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 11px;
  min-width: 250px;
}
.footer-right h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ffffff33;
  display: inline-block;
}
.footer-right p {
  font-size: 18px;
  line-height: 1.9;
  margin: 4px 0;
  display: flex;
  gap: 2px;
  align-items: center;
  margin-left: 40px;
}
.footer-line {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 25px 0 15px 0;
}
.footer-links-bottom {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}
.footer-links-bottom a {
  text-decoration: none;
  color: #ffffffcc;
  font-size: 0.95rem;
  margin: 0 18px;
  transition: color 0.3s;
}
.footer-links-bottom a:hover {
  color: #ffffff;
}
.footer-bottom {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  font-size: 0.85rem;
  color: #d8d8d8;
  margin-top: 10px;
  flex-wrap: wrap; 
}
.footer-bottom{
  margin-top: 40px;
}
.bottom-links {
  display: flex;
  gap: 59px;
  margin-left: 90px;
}
.bottom-links a {
  text-decoration: none;
  color: #ffffffcc;
  transition: color 0.3s;
}
.bottom-links a:hover {
  color: #ffffff;
}
.copyright{
  margin-right: 90px;
}
section:last-of-type,
.hero:last-of-type{
  margin-bottom: 0;
  padding-bottom: 0;
}
.hero img{
  display: block;
  margin-bottom: 0;
  padding-bottom: 0;
}